body{
  background: red;
  font-size: 1.2rem;
  font-family:'Heebo', sans-serif;;
}







@media screen and (min-width:960px){

 body{
  background: white;
  color: white;
 }

 ul li ul li:hover{
   background-color: white;
 }

 .uf1{
  background-color: #2274A5;
  height: 40rem;
  overflow: scroll;
  border-radius: 2rem 0 0 0;
 }

 .uf2{
  background-color: #2274A5;
  color: white;
  height: 5rem;
  overflow: scroll;
 }

 .uf3{
  background-color: #2274A5;
  height: 5rem;
  overflow: scroll;
 }

 .uf4{
  background-color: #2274A5;
  color: white;
  height: 20rem;
  overflow: scroll;
 }


ul li{
  display: block;
  margin: 0 auto;
  width: 80%;
  background-color: #E9F1F7;

}


ul li ul{
margin: 2rem;
}

ul li ul li{

  width: 20rem;
  height: 20rem;
  border-radius: 15%;
  line-height: 20rem;
  text-align: center;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
}

h3{
  margin: 1.5rem;
}

ul li ul a{
  float: left;
  padding: 1rem;
  text-decoration: none;
  font-family:'Heebo', sans-serif;;
}

ul li ul a:hover {
  color: transparent;
}

.correccio:hover{
  background-image: url(../img/correccio.png);
}

.feedly:hover{
  background-image: url(../img/feedly.png);
}

.floata:hover{
  background-image: url(../img/floata.png);
}

.floatb:hover{
  background-image: url(../img/floatb.png);
}

.floatc:hover{
  background-image: url(../img/floatc.png);
}

.comic:hover{
  background-image: url(../img/comic.png);
}

.escacs:hover{
  background-image: url(../img/escacs.png);
}

.apps:hover{
  background-image: url(../img/apps.png);
}

.cara:hover{
  background-image: url(../img/cara.png);
}

.floreta:hover{
  background-image: url(../img/floreta.png);
}

.responsive:hover{
  background-image: url(../img/responsive.png);
}

.correccio:active{
  transform: scale(1.2);
}
.feedly:active{
  transform: scale(1.2);
}
.floata:active{
  transform: scale(1.2);
}
.floatb:active{
  transform: scale(1.2);
}
.floatc:active{
  transform: scale(1.2);
}
.comic:active{
  transform: scale(1.2);
}
.escacs:active{
  transform: scale(1.2);
}
.apps:active{
  transform: scale(1.2);
}
.cara:active{
  transform: scale(1.2);
}
.floreta:active{
  transform: scale(1.2);
}
.responsive:active{
  transform: scale(1.2);
}

}
