body{
  background: red;
  font-size: 1.5rem;
  font-family: Tahoma;
}

h1{
  clear: both;
}

ul li:hover{
  background-color: yellow;
  color: black;
}

@media screen and (min-width:960px){

 body{
  background: cyan;
 }



ul li{
  display: block;
   background: green;
   float: left;
   margin-top: 0.2rem;
   padding-top: 0.4rem;
   width: 5rem;
   clear: both;
 }



 ul li ul a{
   display: block;
   width: 8rem;
   height: 8rem;
   background: red;
   border-radius: 50%;
   text-align: center;
   margin: 0.5rem;
   float: left;
 }
}
