body{
  font-size: 16px;
}

div{
  background-color: red;
  height: 10em;
  width: 10em;
  background-size: cover;
  background-position: center;
}

h2{
  clear: both;
}

span{
  color: red;
  display: none;
}


.flotatE{
  float: left;
  margin: 0 1em 1em 0;
  background-image: url(../img/Valls.jpg);
}

.flotatR{
  float: right;
  margin: 0 0 1em 1em;
  background-image: url(../img/Carrillo.jpg);
}

.capitular{
  float: left;
  margin: 0 0.1em 0.1em 0;
  background-image: url(../img/L.jpeg);
  width: 2em;
  height: 3em;
}

.columna{
  width: 40%;
  margin: 0 5%;
}

.esquerre{
  float: left;
}

.dreta{
  float: right;
}
