body{
  background-color: black;
  color: white;
}

 .barra{
  width: 100%;
  height: 50px;
  background-color: black;
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;

}

.barra li{
  color: #CCC;
  display: inline-block;
  margin-right: 5px;
}



.barra img{
  background-size: cover;
  margin: 5px 20px;
  float: left;
}

.esq{
  float: left;
}

.dret{
  float: right;
}

div{
  margin: 20px;
  float: left;
}

h1{
  font-size: 22px;
  font-family: Helvetica, sans-serif;
  color: #CCC;
  display: inline-block;
  width: 100%;
}

h2{
  font-size: 14px;
  font-family: Helvetica, sans-serif;
  color: #CCC;
}

h3{
  font-size: 11px;
  font-family: Helvetica, sans-serif;
  color: #CCC;
  display: inline-block;
}

div h3:last-child{
  float: right;
}

div .inter, .vistos, .pendents, .pelisvistes, .seriess, .seriesv{
  width: 175px;
  margin: 20px;
}

.inter{
  position: relative;
  top: 50px;
  width: 100%;
  border-radius: 5%;
  clear: both;
}

.vistos{
  width: 100%;
  border-radius: 5%;
  clear: both;
}

.pendents{
  width: 100%;
  border-radius: 5%;
  clear: both;
}

.pelisvistes{
  width: 100%;
  border-radius: 5%;
  clear: both;
}

.seriess{
  width: 100%;
  border-radius: 5%;
  clear: both;
}

.seriesv{
  width: 100%;
  border-radius: 5%;
  clear: both;
}

.inter div:hover{
  opacity: 50%;
}

.vistos div:hover{
  opacity: 50%;
}

.pendents div:hover{
  opacity: 50%;
}

.pelisvistes div:hover{
  opacity: 50%;
}

.seriess div:hover{
  opacity: 50%;
}

.seriesv div:hover{
  opacity: 50%;
}

.pelisvistes img{
  width: 175px;
  height: 250px;
  background-color: grey;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
}

.seriesv img{
  width: 175px;
  height: 250px;
  background-color: grey;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
}

.vistos img{
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
}

.barra li:hover{
  color: #FFF;

}
